@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
}
.flaticon-boxes6:before {
	content: "\e000";
	font-size: 3em;
}
.flaticon-expand22:before {
	content: "\e001";
	font-size: 3em;
}
.flaticon-globegrid:before {
	content: "\e002";
	font-size: 1em;
}
.flaticon-light110:before {
	content: "\e003";
	font-size: 3em;
}
.flaticon-new100:before {
	content: "\e004";
	margin-right: 1em;
}
.flaticon-ok:before {
	content: "\e005";
	font-size: 3em;
}
.flaticon-skype7:before {
	content: "\e006";
	margin-right: 1em;
}
.flaticon-telephone114:before {
	content: "\e007";
}
.flaticon-watch26:before {
	content: "\e008";
	font-size: 3em;
}
